<nav class= "nav">
  <div class="nav-container">
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-12	col-md-4	col-lg-4	col-xl-4">
        <a href="{{ site.baseurl }}/">
          <h6 class="nav-title">{{ site.title }}</h6>
        </a>
      </div>
      <div class="col-4">
      </div>
      <div class="col-12 col-xs-12 col-sm-12	col-md-4	col-lg-4	col-xl-4">
        <div class="row">
          <div class="col-4">
            <a href="{{ '/assets/Shimmin_Andy_Portfolio_2018.pdf' | prepend: site.baseurl }}">Portfolio</a>

            <!-- //CTA confetti here when hiring -->
          </div>
          <div class="col-4">
            <a href="{{ '/assets/Shimmin_Andy_Resume.pdf' | prepend: site.baseurl }}/">Resume</a>
          </div>
          <div class="col-4">
            <a href="{{ '/about' | prepend: site.baseurl }}/">About</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
