<div class="row writing-description">
  <!-- <div onClick=document.getElementById('post.url')> -->

{% if post.image %}
  <div class="col-12">
    <div class="post-img">
      <img class="{{ post-img }}" src="{{ post.image }}">
    </div>
  </div>
  {% else %}
  {% endif %}

  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-10">
            <div class="links-title">
              <h6><b>{{ post.title }}</b></h6>
            </div>
          </div>
          <div class="spacer">
            <div class="v-div ">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        {% for tags in post.tags limit:4 %}
        {% capture tag_name %}{{ tags }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="highligher-rouge">{{ tag_name | truncate: 20 }}</code>&nbsp;
</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
