<div class="row writing-description">
  <!-- <div onClick=document.getElementById('post.url')> -->
  {% if post.image %}
  <div class="col-12">
    <div class="post-img">
      <img class="{{ post-img }}" src="{{post.image}}">
    </div>
  </div>
  {% else %}
  {% endif %}
  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-10">
            <div class="links-title">
              <h6><b>{{ post.title }}</b></h6>
              <time datetime="{{ post.date }}" class="catalogue-time">
                <p>{{ post.date | date: "%Y%m%d" }}
              </time>
            </div>
            <!-- //fix date to be all numbers -->
          </div>
          <div class="spacer">
            <div class="v-div ">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-1 ">
        <div class="v-div spacer">
        </div>
      </div> -->
      <div class="col-8">
        <div class="links-title">
          <p>{{ post.excerpt | strip_html | truncatewords: 23 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
