<div class="row">
  {% for post in site.categories.writing %}
  <div onclick="getElementById('demo')" class="col-12 col-xs-12 col-sm-12	col-md-12	col-lg-12	col-xl-12">
    <div id="sample0" onclick="javascript:setval(1)" class="post-card">
      <a href="#" class="catalogue-item">
        <!-- <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> -->
        <!-- <h1 class="catalogue-title">{{ post.title }}</h1> -->
        <div class="catalogue-line"></div>
        <p>
            {% include writing-entry.html %}

          <!-- {{ post.content | strip_html | truncatewords: 30 }} -->
        </p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
