<div class="row writing-description">
  <!-- <div onClick=document.getElementById('post.url')> -->
<div class="col-12">
  <div class="row">
  <div class="col-12 col-xs-12 col-sm-12	col-md-2	col-lg-2	col-xl-2">

      <time datetime="{{ post.date }}" class="catalogue-time">
        <p>{{ post.date | date: "%Y%m%d" }} </p>
      </time>
    </div>
  <div class="col-12 col-xs-12 col-sm-12	col-md-10	col-lg-10	col-xl-10">
  <a href="{{ post.url }}">
    <h6><b>{{ post.title }}</b></h6>
    <div class="links-title">
      <p>{{ post.excerpt | strip_html | truncatewords: 23 }}</p>
    </div>
    </a>
    </div>
  </div>

</div>
</div>
