* {
  @include box-sizing;
  line-height: 1.5;
}

body,
html {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;
  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: $sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-color;
  font-family: $serif-primary;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom:0px;
}



a {
  color: $blue;
  text-decoration: none;
  // font-family: $sans-serif;
  hanging-punctuation: first;
}

a:hover {
  text-decoration: none;
  color: #EB4D65; //color of text being hovered over
  position: relative;
}

a[tooltip]:hover:after {
  content: attr(tooltip);
  font-family: $serif-primary;
  font-size: 12px;
  padding: 8px 12px;
  color: #333341;
  position: absolute;
  top: 100%;
  width: 400px;
  white-space: pre-line;
  z-index: 20;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 12px 66px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 12px 66px rgba(0, 0, 0, 0.15);
  box-shadow: 0 12px 66px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

p {
  color: $default-color;
  font-size: 16px; //changes global p size
  // text-align: justify;
  // hyphens: auto;
  // text-justify: distribute;

}

hr {
  margin-top: 0.3rem;
  border-top: 0.1vw solid $grey-2;
}

blockquote {
  border-left: 0.25rem solid $grey-2;
  color: $grey-1;
  margin: 0.8rem 0;
  padding: 0.5rem 1rem;
  // font-size: 100px;
  // height: 90px;
  // color: $blue;  //make a quoted blockquote version of this

  p:last-child {
    margin-bottom: 0;
    font-family: $sans-serif;
  }
  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
  border-radius: 1.2%;
}

td {
  vertical-align: top;
}
//

.post-card-w {
  padding-top: 10vh;
  width: 100%;
  margin-left: 1px;
}

.post-card {
  padding-top: 10vh;
  width: 85%;

  p {
    color: $grey-2;
    font-size: 16px;
  }
}

.links-title {
  p {
    color: $grey-2;
    font-size: 16px;
    font-family: $sans-serif;
    // margin-left: -10%;

  }

a {
  color: $grey-2;
  font-size: 16px;
}
  h6,
  time {
    // text-align: right;
    margin-bottom: 0.2rem;
    left: 0;
  }
}

.writing-description {

  .spacer {
    max-width: 0;
    padding: 4px;
    // margin-left: -4%;
  }

  .v-div {
    border-right: 1px solid $grey-2;
    overflow: hidden;
    height: 78%;
    // max-height: 100%;
    top: 0;
  }

  p {
    margin-block-start: 0;
    padding-top: 0;
  }

  .post-img {
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    margin-bottom: 4%;
    margin-top: 18%;
    box-shadow: 0 1px 20px -8px $shadow-color; //make this work
    transition: .35s;

    &:hover {
    transition: .35s;
    transform: translateY(-3px);
    -webkit-box-shadow: -2px 3px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: -2px 3px 19px 0px rgba(0,0,0,0.15);
    box-shadow: -2px 3px 19px 0px rgba(0,0,0,0.15);
    }
}

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  
  }

}

.arrow-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 10rem;
}

.scroll-content {
  height: 100vh; //height of screen. make 75 if you want to see the footer
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10vh;
}

.scroll-content-right {
  height: 85vh; //height of screen. make 75 if you want to see the footer
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10vh;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

// // .night-mode {
//   body, h1, h2 {
//     transition: 1s all ease;
//   }
//
//   /* Light mode */
//   body.day {
//     background: #fbfbfb;
//   }
//
//   p.day, h1.day, h2.day {
//     color: #333341;
//   }
//
//   /* Dark mode */
//   body.night {
//     background: #333341;
//   }
//
//   p.night, h1.night, h2.night {
//     color: #fbfbfb;
//   }
// // }
