
  <div  class="row writing-description">
    <div class="col-12">

      <img class="{{ post-img }}" src="{{post.image}}">
      <!-- CONFIRM WIT HWILL -->

    </div>
    <div class="col-12">

      <div class="row">
        <div class="col-4">
          <h6>{{ post.title }}</h6>
          <time datetime="{{ post.date }}" class="catalogue-time">
            <p>{{ post.date | date: "%B %d, %Y" }}
          </time></p>
          <!-- //fix date to be all numbers -->
        </div>

        <div class="col-1">
              <div class="v-div">
            </div>
        </div>
        <div class="col-7">
          <p>{{ post.content | strip_html | truncatewords: 17 }}</p>
        </div>

      </div>
    </div>


  </div>
