---
layout: default
---





<div class="row">
  <div class="col-4 col-xs-12 col-sm-12	col-md-6	col-lg-4	col-xl-4">
  </div>
  <div class="col-6 col-xs-12 col-sm-12	col-md-12	col-lg-8	col-xl-6">

    <br>
    <br>
    <br>
    <br>
    <h2><b>Interaction design for storytelling, learning, and exploring.</b></h2>
    <p>I design things that help people learn and understand more effortlessly. I don't want to demand your attention on social media, so you'll find most of my updates happening on this website.</p>

    <br>
    <br>
    <h1 class="catalogue-title">BACKGROUND</h1>
    <div class="catalogue-line"></div>
    <br>
    <p> I learned about what the word "experience" actually means while getting my BFA in <a href=http://www.ixd.cca.edu/#bfaintro>Interaction Design at California College of the Arts</a> in San Francisco. During my time at CCA, I crafted many
        experiences for others, ranging from the the elegant and poetic speculative mobility futures with <a href=http://greenfieldlabs.com/>Ford Motors</a>, to the practicality of the future of student loan payments with <a href=http://usa.visa.com/>Visa
        </a>. In the summer of 2017 I interned as a Experience Designer at the consumer product firm <a href=http://fuseproject.com/>fuseproject </a>, where I worked on smart home fitness interfaces, and VR product demo galleries. </p> <p>In the
        summer of 2018 I collaborated on a design sprint with <a href=http://ideocolab.com/>IDEO CoLab</a> as well as interned for the consumer lending company <a href=http://blend.com/>Blend </a> as a product design intern. Here, I redesigned the
          new hire onboarding experience, BlendU, with the help of the Orgational Effectiveness team. Additionally helped design for alignment within the company through the company objectives. made animated videos and data visualizations to
          emphasize strong points and areas of improvement within Blend.</p> <br>

          <br>
          <br>
          <h1 class="catalogue-title">DESIGN PERSPECTIVE</h1>
          <div class="catalogue-line"></div>
          <br>
          <p> I am drawn to stories and exploration as a method for interaction. Each day I walk through spaces where each product, advertisement, website, and environment is demanding my own attention from me. Naoto Fukasawa, the founder and CEO of
            Muji, said in his book titled "Naoto Fukasawa: Embodiment," </p>
          <p>"I felt as though Muji was more suited to designing huts rather than houses, I thought that with a hut, you could live the most minimal lifestyle. It’s a place where you can savor a sense of it being enough." </p>
          <p>Through design, I hope to use my skills to provide "huts" for the community that's using it, not everyone who comes into contact with it. frame a why how what

            <br>
            <br>
            <br>
            <br>

            <h1 class="catalogue-title">RECENT ACTIVITY</h1>
            <div class="catalogue-line"></div>
            <div class="row">
              <div class="col-10">
                <br>
                {% for post in site.posts limit:1 %}
                {% include writing-entry.html %}
                {% endfor %}
              </div>
            </div>
            <br>
            <br>
            <br>










  </div>
  <div class="col-2 col-xs-12 col-sm-12	col-md-6	col-lg-4	col-xl-4">
  </div>
</div>
<!--
<div class="row">
  {% for post in paginator.posts %}
  <div class="col-4 col-xs-12 col-sm-12	col-md-6	col-lg-4	col-xl-4">
    <div class="post-card">
      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">


          <h1 class="catalogue-title">{{ post.title }}</h1>
          <div class="catalogue-line"></div>
          <p>
            {{ post.content | strip_html | truncatewords: 30 }}
          </p>
      </a>
    </div>

  </div>

  {% endfor %}
</div> -->










<!-- everything below this line is the real home.. DO NOT DELETE -->
<!-- ---
  layout: default
  ---
  <div class="row">
    <div class="col-4 col-xs-12 col-sm-12	col-md-6	col-lg-4	col-xl-4">
    </div>
    <div class="col-6 col-xs-12 col-sm-12	col-md-12	col-lg-8	col-xl-6">

      <br>
      <br>
      <br>
      <br>
      <h2><b>Interaction, information, and some other third thing</b></h2>
      <p>A space for unformed thoughts, questions, and updates and my experience. Larger thoughts are marked with a photo, weekly updates are not.</p>
      <br>
      <br>
      <br>
      <h1 class="catalogue-title">BACKGROUND</h1>
      <div class="catalogue-line"></div>
      <p>Super duper long description of project to explain what you are about to read even loger and longer and longer and longer and longerSuper duper long description of project to explain what you are about to read even loger and longer and longer
        and longer and longerSuper duper long description of project to explain what you are about to read even loger and longer and longer and longer</p>
      <br>

      <br>
      <h1 class="catalogue-title">DESIGN PERSPECTIVE</h1>
      <div class="catalogue-line"></div>
      <p>Super duper long description of project to explain what you are about to read even loger and longer and longer and longer and longerSuper duper long description of project to explain what you are about to read even loger and longer and longer
        and longer and longerSuper duper long description of project to explain what you are about to read even loger and longer and longer and longer</p>
      <br>

      <br>
      <h1 class="catalogue-title">CURRENT PROJECTS</h1>
      <div class="catalogue-line"></div>
      latest.link.activity
      <br>
      <br>
      <br>

    </div>
    <div class="col-2 col-xs-12 col-sm-12	col-md-6	col-lg-4	col-xl-4">
    </div>
  </div> -->
