---
layout: default
---
<div class="row">
  <div class="col-12 col-xs-12 col-sm-12	col-md-6	col-lg-4	col-xl-4">
  </div>
  <div class="col-12 col-xs-12 col-sm-12	col-md-12	col-lg-8	col-xl-6">

    <br>
    <br>
    <br>
    <br>

    <h2><b>Interaction design for understanding, learning, and exploring.</b></h2>
    <p>I design things that help people learn and understand more effortlessly. Currently looking for design job opportunities, you can view my resume <a href="{{ '/assets/Shimmin_Andy_Resume.pdf' | prepend: site.baseurl }}">here.</a></p>

    <br>
    <br>
    <h1 class="catalogue-title">BACKGROUND</h1>
    <div class="catalogue-line"></div>
    <br>
    <p class="time"> I learned about what the word "experience" actually means while getting my BFA in <a href=http://www.ixd.cca.edu/#bfaintro>Interaction Design at California College of the Arts</a> in San Francisco. During my time at CCA, I
        crafted many experiences for others, ranging from the the elegant and poetic speculative mobility futures with <a href=http://greenfieldlabs.com/>Ford Motors</a>, to the practicality of the future of student loan payments with <a href=http://usa.visa.com/>Visa
        </a>. In the summer of 2017 I interned as a Experience Designer at the consumer product firm <a href=http://fuseproject.com/>fuseproject </a>, where I worked on smart home fitness interfaces, and VR product demo galleries. </p> <p>In the
        summer of 2018 I collaborated on a design sprint with <a href=http://ideocolab.com/>IDEO CoLab</a> as well as interned for the consumer lending company <a href=http://blend.com/>Blend </a> as a product design intern. Here, I redesigned the
          new hire onboarding experience, BlendU, with the help of the Organization Effectiveness team. Additionally helped design for alignment within the company through the company objectives. Made animated videos and data visualizations to
          emphasize strong points and areas of improvement within Blend. </p> <br>
    <br>
    <br>
    <h1 class="catalogue-title">DESIGN PERSPECTIVE</h1>
    <div class="catalogue-line"></div>
    <br>
    I design to help people learn and understand more effortlessly. By emphasizng aspects of exploration and storytelling to guide the experience, I work to create engaging and intuitive design solutions that won't demand your attention away from you.

    <!-- <p> Each day I walk through spaces where each product, advertisement, website, and environment is demanding my own attention from me.
    Naoto Fukasawa, the founder and CEO of
            Muji, said in his book titled "Naoto Fukasawa: Embodiment," </p>
          <p>"I felt as though Muji was more suited to designing huts rather than houses, I thought that with a hut, you could live the most minimal lifestyle. It’s a place where you can savor a sense of it being enough." </p>
      <p>Through design, I hope to use my skills to emphasize moments of exploration and storytelling to create a sense of "enough" for the audience using it.</p> -->

    <br>
    <br>
    <br>
    <br>

    <h1 class="catalogue-title">RECENT ACTIVITY</h1>
    <div class="catalogue-line"></div>
    <div class="row">
      <div class="col-12">
        <br>
        {% for post in site.posts limit:1 %}
        <a href="{{ post.url }}">{% include writing-entry.html %}</a>
        {% endfor %}
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
