---
layout: default
---



<div class="row">
  {% for post in paginator.posts %}
  <div class="col-4 col-xs-12 col-sm-12	col-md-6	col-lg-4	col-xl-4">
    <div class="post-card">
      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">

          <!-- <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> -->
          <h1 class="catalogue-title">{{ post.title }}</h1>
          <div class="catalogue-line"></div>

          <p>
            {{ post.content | strip_html | truncatewords: 30 }}
          </p>

      </a>
    </div>

  </div>

  {% endfor %}
</div>
