---
layout: default
---

<!-- rename to links later and make the links entries look at this for styling -->
<div class="row">
  <div class="col-12 col-xs-12 col-sm-12	col-md-6	col-lg-4	col-xl-3">
    <br>
    <br>
    <br>
    <br>
    <div class="arrow-sticky">
      <a onclick="window.history.back()">
        <svg width="27px" height="14px" viewBox="0 0 27 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs>
            <path d="M195.942931,287 L219.04451,287 L219.04451,288.699596 L195.952119,288.699596 L200.873522,293.632391 L199.844216,294.688432 L193,287.844216 L199.844216,281 L200.873522,282.069409 L195.942931,287 Z" id="path-1"></path>
          </defs>
          <g id="Website" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Links-Page-Copy" transform="translate(-193.000000, -281.000000)">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
              <use id="&lt;—" fill="#333341" xlink:href="#path-1"></use>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12	col-md-12	col-lg-8	col-xl-7">


    <div class="row writing-description">
      {% if page.image %}
      <div class="col-12">
        <div class="post-img">
          <img class="{{ post-img }}" src="{{page.image}}">
        </div>
      </div>
      {% else %}
      <br>
      <br>
      <br>
      <br>
      {% endif %}
    </div>

    <h4>{{ page.title }}</h4>
    {% for tags in page.tags %}
    {% capture tag_name %}{{ tags }}{% endcapture %}
    <a href="/tag/{{ tag_name }}">
      <code class="highligher-rouge">{{ tag_name | truncate: 20 }}</code>&nbsp;
    </a>
    {% endfor %}
<br>
    <br>
    <div class="links-title">
      <p>{{ page.excerpt }}</p>
    </div>


    <!-- — -->
    <br>
    <p> {{content}} </p>
    <br><br>
    <br>


    <!--

    <a href="http://example.com/WORLD/africa/kenya.elephants.ap/index.html" tooltip="Read more about failed elephant evacuationRead more about failed elephant evacuationRead more about failed elephant evacuationRead more about failed elephant evacuationRead more about failed elephant evacuationRead more about failed elephant evacuation">
    Evacuation
  </a> by Crumbles Under Jumbo load
  <br>
  <a href="http://example.com/WORLD/africa/kenya.elephants.ap/index.html" tooltip="Read more about failed elephant evacuationRead more about failed elephant evacuationRead more about failed elephant evacuationRead more about failed elephant evacuationRead more about failed elephant evacuationRead more about failed elephant evacuation">
  Evacuation
</a> by Crumbles Under Jumbo load


<br>
<br>
<br>
<h1 class="catalogue-title">BOOKS</h1>
<div class="catalogue-line"></div>






</div>
<div class="col-2 col-xs-12 col-sm-12	col-md-6	col-lg-4	col-xl-4">
</div>
</div> -->
