---
layout: default
---


<div class="row">
  <div class="col-5">
    <div class="row">
      {% for post in site.categories.writing %}
      <div onclick="getElementById('demo')" class="col-12 col-xs-12 col-sm-12	col-md-12	col-lg-12	col-xl-12">
        <div id="sample0" onclick="javascript:setval(1)" class="post-card">
          <a href="#" class="catalogue-item">
            <!-- <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> -->
            <!-- <h1 class="catalogue-title">{{ post.title }}</h1> -->
            <p>
                {% include writing-entry.html %}

              <!-- {{ post.content | strip_html | truncatewords: 30 }} -->
            </p>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-2">

  </div>

  <div class="col-5">

    <p id="demo">
      <p>Cats</p>

    </p>

    <!-- <script>
    var postTitle = '';
    var postAll= {"pTitle" : "{{site.title}}", "pImage" : "{{page.title}}", "pContent" : "post.title"};
    function setval(varval)
    {
    	// postTitle= varval;
    	// alert("{{site.title}}", "site.author");
      w3.displayObject("id01", postAll);
    }

    </script>



    <div id="id01">
{{pTitle}} {{pImage}} {{pContent}}
</div> -->



  </div>
</div>
