.catalogue {
  max-width: 100%;
  width: 100%;

  // flex-wrap: wrap;

  &-item {
    border-bottom: 4px solid $grey-2;
    color: $default-color;
    padding: 2rem 0;


    &:focus .catalogue-line,
    &:hover .catalogue-line {
      width: 12rem; //extends to this length when hovered over
    }

    &:last-child {
      border: 0;
    }
  }


  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
  }

  &-title {
    color: $default-shade;
    // display: block;
    font-family: $serif-primary;
    font-size: 1rem;
    font-weight: 50;
    margin: 0.5rem 0;
  }

  &-line {
    @include transition(all 0.3s ease-out);
    border-top: 0.1rem solid $serif-primary;
    display: block;
    width: 8rem;
  }
}
